<section id="contact_2" class="contact">
    <div class="container">
        <div class="row">
            <form class="contact_form" action="{{ h_url.bottom_action }}" >
                <div class="contact_form_cont-left">
                    <input type="text" placeholder="{{ h_url.bottom_name }}" required>
                    <input type="text" placeholder="{{ h_url.bottom_phone-nunber }}" required>
                </div>
                <input class="contact_form_btn" type="submit" value="{{ h_url.bottom_button-text }}">
            </form>
        </div>
    </div>
</section>



