<section id="contact" class="contact" >
    <div class="container">
        <div class="row">
            <!-- <form class="contact_form" action="{{ h_url.action }}" > -->
                <form class="contact_form" action="https://netlify.us19.list-manage.com/subscribe/post?u=42cbac8ab50c337705fc6ec2d&amp;id=82e9f85efa" > 
                <div class="contact_form_cont-left">
                    <input type="text" name="NACHNAME" placeholder="{{ h_url.name }}" required>
                    <input type="text" name="INSTITUTIO" placeholder="{{ h_url.phone-nunber }}" required>
                </div>
                <input class="contact_form_btn" type="submit" value="{{ h_url.button-text }}">
            </form>
        </div>
    </div>
</section>
 